---
layout: default
title: Home
---

<!-- <img src="{{ site.baseurl }}/public/images/fealty_logo.png" class="center" /> -->
<img src="{{ site.baseurl }}/public/images/the-game.png" class="center" />


  <center><p>
  <i><b>Fealty</b></i> is a real-time strategy-rpg set in a world inspired by the early middle ages. You take control of a noble family and it is your task to expand your domains, manage your settlements, and muster your forces. The characters in the world are your intermediaries - they can carry out your will, and just as importantly, report on what is happening in the realm - but they are imperfect.</p>

    <p>You must lead your family in a brutal world where problems are often solved through violence. But that is not the only way...</p>

    <p>Putting everyone to the sword can be effective but so can soft words whispered in the right ear. The right relationships are critical for surviving and coexisting. And do not underestimate the power of coin. A city of thriving trade doesn't need its people to fight when it can pay for whatever mercenaries it needs.</p>
    
    </p><b>Plan</b> your strategy for neutralizing your enemies.
    </p><b>Choose</b> how you develop your family members to fulfill your strategy. 
    </p><b>Lead</b> your family.

    </p><a href="/about.html">Learn more</a>
  </center>
<img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center bottom-margin top-margin" />

<center><i><b>Fealty</b></i> is early in development with the current focus being the core real-time simulation and
  strategic elements.</center>

<img src="{{ site.baseurl }}/public/images/devblog-header2.png" class="center top-margin" />

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Read more...</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>