---
layout: default
title: Home
---

<!-- <img src="{{ site.baseurl }}/public/images/fealty_logo.png" class="center" /> -->
<img src="{{ site.baseurl }}/public/images/the-game.png" class="center" />

<span>
  <center><i><b>Fealty</b></i> is a real-time strategy-rpg set in a world inspired by the early middle ages. You take control of
  a family of
  characters and it is your task to expand your domains, manage your settlements, and muster your forces. The characters
  in the world are how you interact. They can carry out your will, and just as importantly, report on what is happening
  in the realm that you need to be aware of. Fealty is played over a series of "kingdom games". Each kingdom game
  represents a geographical area over which families compete for control of the settlements in the game. Once a player
  has achieved dominance over the kingdom, then the game ends.</center>
</span>

<img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center bottom-margin top-margin" />

<span>
  <center>
    <p>
      Once a game is over, each family gains Prestige earned from their actions and choices during the game. Prestige
      can be earned in different ways including: direct control of settlements, economic productivity,
      powerful/honorable characters, and diplomatic treatises. A family that does not control the map may still come out
      ahead in the final Prestige count.
    </p>
    <p>
      The Prestige players earn carries between games and determines their placement on the Prestige Leaderboards - for
      all to see.
    </p>
  </center>
</span>

<img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center" />

<span class="center bottom-margin top-margin">
  <center><i><b>Fealty</b></i> is early in development with the current focus being the core real-time simulation and strategic
  elements.</center>
</span>

<img src="{{ site.baseurl }}/public/images/fealty-hr.png" class="center" />

<img src="{{ site.baseurl }}/public/images/devblog-header2.png" class="center top-margin" />

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
    <a href="{{ post.url }}">Read more...</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>