<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/{{ site.baseurl }}"><img id="logo" src="/public/images/fealty_logo.png" alt="Game logo"></a>
        </a>
      </h1>

      <p class="lead">{{ site.description }}</p>
    </div>
    <div id="pledgelink">
      <a href="http://eepurl.com/go8jWf">
        <h1>Join the Alpha playtest!</h1>
      </a>
    </div>
      <!-- <span class="sidebar-nav-item"><a href="https://discord.gg/rFTHUmf">Join the Official Discord!</a></span> -->
      <span class="sidebar-nav-item"><a href="https://twitter.com/FealtyDev">Follow us on Twitter!</a></span>

    <nav class="sidebar-nav">
      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
        href="/{{ site.baseurl }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
      {% endif %}
      {% endif %}
      {% endfor %}

      <hr>

      {% for tag in site.tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}

      {{ t | downcase }}
      <ul>
        {% for post in posts %}
        {% if post.tags contains t %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}

      <hr>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>